/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, h1{
   margin: 0;
 }

 .fullsize{
   height:100%;
   width:100%;
 }

 .halfsize{
   height:100%;
   width:50%;
 }

#root{
  height:100%;
  width:100%;
  position:fixed;
}
.main{
  background-color:#151515;
  color:white;
  margin: 0;
}

.main a{
  color:white;
}

.login-main{
  display:flex;
}

.login-left{
  background-image:url("login_image.png");
  background-size:cover;
  background-position:center;
  min-width: 518px;
}

.login-right{
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color:#151515;
  color:white;
}
