

.searchbar{
    margin-left:7vw;
    display:flex;
    align-items: center;
}
.search-icon{
  color:inherit;
  position:relative;
  top:2px;
  left:40px;
  font-size:18px;
}

.searchbar-field{
  font-size:13px;
  background-color:transparent;
  color:grey;
  padding:10px 0 10px 50px;
  min-width:200px;
  width: 40vw;
  max-width:400px;
  border: 1px solid rgb(48, 51, 51);
}

.searchbar-field:hover{
  transition-duration:0.2s;
  transition-timing-function: ease;
  border: 1px solid black;
  color:white;
  box-shadow: 5px 5px 30px 1px rgb(0, 0, 0);
  /* box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.01), 0 px 24px rgba(48, 51, 51, 0.09); */
}
.searchbar-field:focus{
  border: 1px solid black;
  color:white;
  box-shadow: 5px 5px 30px 1px rgb(0, 0, 0);
  /* box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.01), 0 px 24px rgba(48, 51, 51, 0.09); */
}

.searchbar-field:hover::placeholder{
  color:white;
}

.searchbar:focus::placeholder{
  color:white;
}

.search-results{
  position:absolute;
  top:50px;
  margin-left:20px;
  display:flex;
  flex-direction:column;
  background-color: #030e21;
  box-shadow: 5px 5px 30px 1px rgb(0, 0, 0);
}
.search-result-header{
  font-size:15px;
  color:grey;
  padding:10px 30px 10px 22px;
  min-width:200px;
  width: 40vw;
  max-width:400px;
  border-bottom:1px solid black;
}
.search-result-item{
  padding:10px 30px 10px 20px;
  min-width:200px;
  width: 40vw;
  max-width:400px;
  display:flex;
}
.search-symbol{
  width:50px;
}

.search-match{
  color: #e72ebe;
}

.search-result-item:hover{
  background-color: #261538;
}
.search-result-item:first-child{
  padding-top:20px;
}

.searchbar-field + .search-results{
  display:none;
}

.searchbar-field:focus + .search-results{
  display: flex;
}

.search-results:hover{
  display:flex;
}
